* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #000;
}

.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}

form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgba(223, 223, 223);
  border-radius: 4px;
}

form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}

form i {
  width: 8%;
  font-size: 3rem;
  margin-bottom: -8px;
  color: rgb(75, 75, 75);
  display: inline-block;
}

.search-result {
  margin-top: 20%;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.item .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-button {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: white;
  font-size: 1.4rem;
  margin-top: 20px;
  align-self: flex-start;
  border-radius: 4px;
}

.item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

.container.initial .brand {
  font-size: 7rem;
}

.container.initial form {
  max-width: 800px;
}

.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
}
